<mat-card class="mat-whiteframe-2dp">
  <mat-card-title-group>
    <img mat-card-md-image src="{{ travel.photo }}">
    <mat-card-title>
      <a [routerLink]="['/travel', travel._id]">
        <span>{{ travel.country }} {{ travel.city }}</span>
      </a>
    </mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <div>
      Departure&nbsp;:&nbsp;<span>{{ travel.departure | date:'dd/MM/yyyy' }}</span>
    </div>
    <div>
      Arrival&nbsp;:&nbsp;<span>{{ travel.arrival | date:'dd/MM/yyyy' }}</span>
    </div>
    <div>
      Number of people&nbsp;:&nbsp;<a>{{ travel.numberPerson }}</a>
    </div>
    <div>
      Hotel&nbsp;:&nbsp;<a>{{ travel.hotel }}</a>
    </div>
    <div>
      Price&nbsp;:&nbsp;<a>{{ travel.price }}</a>
    </div>
    <div>
      Description&nbsp;:&nbsp;<a>{{ travel.description }}</a>
    </div>

    <div class="buttons-info">
      <a mat-button title="Edit" [routerLink]="['/edit', travel._id]">
        <mat-icon svgIcon="icon-edit"></mat-icon>
      </a>
      <button mat-button title="Delete" (click)="delete(travel)">
        <mat-icon svgIcon="icon-delete"></mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
